In [12]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [13]:
# Basic imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cbook as cbook
import os

# Evaluation scripts
from CompetitionEvaluation import load_data, structure_data, calculate_metrics

In [24]:
df_cm_actuals = pd.read_parquet("/Users/zakotianskyi/PycharmProjects/prediction_competition_2023/actuals/cm/window=Y2018/cm_actuals_2018.parquet")
df_cm_actuals.head(), df_cm_actuals.tail()
df_cm_actuals['ged_sb'] = df_cm_actuals['ged_sb'].astype('int32')
df_cm_actuals.rename(columns={"ged_sb": "outcome"}, errors="raise", inplace=True)
# Summarize:
# df_cm_actuals.dtypes
df_cm_actuals.head()

   month_id  country_id  outcome
0       457           1        0
1       457           2        0
2       457           3        0
3       457           4        0
4       457           5        0

In [15]:
df_cm_actuals.describe(percentiles=[.25,.50,.75,.90,.95,.99,.992,.995])

          month_id   country_id      outcome
count  2292.000000  2292.000000  2292.000000
mean    462.500000   108.675393    24.078098
std       3.452806    66.205421   188.941513
min     457.000000     1.000000     0.000000
25%     459.750000    50.000000     0.000000
50%     462.500000   109.000000     0.000000
75%     465.250000   158.000000     0.000000
90%     467.000000   205.000000    10.000000
95%     468.000000   232.000000    52.000000
99%     468.000000   245.000000   468.950000
99.2%   468.000000   245.000000   877.312000
99.5%   468.000000   245.545000  1714.985000
max     468.000000   246.000000  2964.000000

In [16]:
# from viewser import Queryset, Column
# # read in country list with country names for presentation purposes
# qs = (Queryset("country_list", "country_month")
# 
#    .with_column(Column("id", from_table="country", from_column="id"))
#    .with_column(Column("name", from_table="country", from_column="name"))
#               
#    )
# countrylist = qs.publish().fetch().loc[504]
# Read translation table matching_table.csv
df_matching_table = pd.read_csv("/Users/zakotianskyi/PycharmProjects/prediction_competition_2023/matching_table.csv")
df_matching_table.head()

,id,name,gwcode,isoname,isoab,isonum,in_africa,in_middle_east
0,1,Guyana,110,Guyana,GUY,328,0,0
1,2,Suriname,115,Suriname,SUR,740,0,0
2,3,Trinidad and Tobago,52,Trinidad and Tobago,TTO,780,0,0
3,4,Venezuela,101,Venezuela,VEN,862,0,0
4,5,Samoa,990,Samoa,WSM,882,0,0

In [30]:
# add one column of only country names from df_matching_table to the actuals dataframe
# do not merge 2 dataframes, just add a column
# df_cm_actuals['country_id'].map(df_matching_table['id']['name'])
country_names = df_matching_table.set_index('id')['name']
country_names

id
1                   Guyana
2                 Suriname
3      Trinidad and Tobago
4                Venezuela
5                    Samoa
              ...
251                   USSR
252                   USSR
253                   USSR
254                   USSR
255                   USSR
Name: name, Length: 220, dtype: object

In [32]:
df_cm_actuals['country_name'] = df_cm_actuals['country_id'].map(country_names)
df_cm_actuals.head()

   month_id  country_id  outcome         country_name
0       457           1        0               Guyana
1       457           2        0             Suriname
2       457           3        0  Trinidad and Tobago
3       457           4        0            Venezuela
4       457           5        0                Samoa