In [1]:
import pandas as pd

# submission/boostrapped/eval/cm/window=Y2018/metric=crps/crps.parquet
crps = pd.read_parquet('submission/boostrapped/eval/cm/window=Y2018/metric=crps/crps.parquet')

In [2]:
crps.head()

                        value
month_id country_id
457      1           0.432535
         2           0.730438
         3           0.705294
         4           1.223244
         5           0.715356

In [3]:
crps

                         value
month_id country_id
457      1            0.432535
         2            0.730438
         3            0.705294
         4            1.223244
         5            0.715356
...                        ...
468      242          0.621871
         243          0.617361
         244          0.528532
         245          7.632201
         246         33.520808

[2292 rows x 1 columns]